@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Lato 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* From Uiverse.io by realrobertlogan */
.traffic-loader {
  width: 40px;
  height: 40px;
  --c: radial-gradient(farthest-side, #17696A 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 1px 1px;
  background-repeat: no-repeat;
  animation: s8 1s infinite;
  position: relative;
}

.traffic-loader::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: 2px;
  background: repeating-conic-gradient(#0000 0 35deg, #17696A 0 90deg);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 2px), #000 0);
  border-radius: 50%;
}

@keyframes s8 {
  100% {
    transform: rotate(0.5turn);
  }
}


.custom-scroll {
  overflow-y: auto;
  /* Vertikal scroll */
}

/* Webkit brauzerlar uchun scroll styling */
.custom-scroll::-webkit-scrollbar {
  width: 3px;
  /* Scroll kengligi */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #B3B7BC;
  /* Scroll thumb rangi */
  border-radius: 10px;
  /* Yumaloqlash */
}

.custom-scroll::-webkit-scrollbar-track {
  width: 2px;
  background-color: #E5E8ED;
  /* Scroll track (orqa fon) rangi */
  border-radius: 10px;
}